@import "tailwindcss";

body {
  font-family: "M+PLUS+Rounded+1c", sans-serif;
}

.font-M {
  font-family: "M+PLUS+Rounded+1c", sans-serif;
}

.font-Playfair {
  font-family: "Playfair+Display", sans-serif;
}

h1,
h2,
h3 {
  font-family: "font-Playfair", sans-serif;
}

.font-Lora {
  font-family: "Lora", sans-serif;
}

.font-Roboto {
  font-family: "Roboto+Slab", sans-serif;
}
